body {
background: white url("images/background.png") no-repeat;
background-position: right top;
}

li a {
color: #ff97a1;
}

.list {
    list-style: none;
    padding: 5px 0px 5px 5px;
    margin-bottom: 5px;
    border-bottom: 1px solid #ff97a1;
    width:50%;
    font-size: 12px;
}

.resultslist {
    color: #ff97a1;
    list-style: none;
    padding: 5px 0px 5px 5px;
    margin-bottom: 5px;
    border-bottom: 1px solid #ff97a1;
    width:50%;
    font-size: 12px;
}